.custom-modal {
  animation: fadeIn 0.5s ease-in-out;
  backdrop-filter: blur(5px);
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}

.modal-header {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.custom-close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: red;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.form-group {
  margin-bottom: 1.5rem;
}

.custom-btn {
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.code-textarea {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 10px;
  resize: vertical;
}

.code-textarea:focus {
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check {
  margin-top: 0.5rem;
}

.form-check-input {
  margin-right: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} 